{
    'throughput': {
        'timeseries': {
            'metric': 'processed_items',
            'dimensions': {
                'component': '$(MONITOR)',
            },
            'summary stat': 'sum',
        },
        'monitors': ['loader', 'processor', 'collector'],
        'aggregation': 'ANY',
        'threshold': {
            'trigger': 'below',
            'datapoints': 1, # Alarm as soon as the pipeline stops
            'static': 1, # Trigger when no items are processed
        },
        'ticket': {
            'title': 'Data pipeline has stopped.',
            'description': 'Unexpected pipeline stoppage.',
            'impact': 2,
        },
        'suppression': 'cruncher.suppressions.pipeline.maintenance'
    },
}
