{
    'utilization': {
        'timeseries': {
            'metric': 'cpu-util',
            'dimensions': {
                'tier': 'backend',
            },
            'summary stat': 'avg',
        },
        'monitors': ['critical'],
        'aggregation': 'ALL', # Not really needed for a single monitor.
        'threshold': {
            'trigger': 'above',
            'datapoints': 4, # Alarm after 4 data points
            'static': 0.80, # Trigger when the level raises above 80%
        },
        'ticket': {
            'title': 'Critical levels of CPU utilization.',
            'description': 'Backend fleet CPU util exceeded 80%',
            'impact': 2, # Real threat of possible performance degradation.
        }
    },
    'traffic': {
        'timeseries': {
            'metric': 'requests',
            'dimensions': {
                'request_type': '$(MONITOR)',
            },
            'summary stat': 'n',
        },
        'monitors': ['small-frequent', 'medium-regular', 'big-infrequent'],
        'aggregation': 'ANY', # Trigger if any of the monitors go into alert
        'threshold': {
            'trigger': 'above',
            'datapoints': 5,  # Alarm after 5 data points of unusually
            'percentile': 98, # high traffic levels. Do not let the threshold
            'lower': 50,      # fall below 50 data requests per data point and
            'upper': 1000     # don't let it raise beyond 1000 requests.
        },
        'ticket': {
            'title': 'Unusually high traffic levels for last 5 data points.',
            'description': 'One or more request types come at increased rates.',
            'impact': 3, # Real threat of possible performance degradation.
        }
    }
}
